## Copy file and rename to .env and move into /server directory. Set the correct values for DB_USER, DB_PASSWORD, DB_NAME in the .env file.
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_PORT=5432
DB_HOST=psql