@font-face {
	font-family: "Inria-sans Bold";
	src: local("InriaSansBold"),
		url("../fonts/Inria_Sans/InriaSans-Bold.ttf") format("truetype");
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.line {
	border-style: solid;
	border-color: white;
}

.main {
	display: flex;
	width: 100vw;
	height: 100vh;
}